@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 55px;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  background-color: rgb(30, 40, 45);
}


/* IRIS ANIMATION */
.iris-animation-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translateX(-20%);
}

@media (max-width: 600px) {
  .perspective-text {
    transform: translateX(-15%) scale(60%, 60%);
  }
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p.animation-p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

/* Logo and Background image starts here */
.logo-header {
    margin-top: -100px;
  background-image: linear-gradient(
      to right top,
      #000000cc,
      rgba(37, 34, 34, 0.685)
    ),
    url("../img/background1.jpg");
  background-position: top;
  background-size: 100%;
  height: 110vh;
  background-size: cover;
  position: relative;
  text-align: center;
  position: relative;
}


.intro {
  margin: 2rem;
  text-align: justify;
}

hr {
  width: 100%;
  color: black;
  background-color: black;
  margin: 2rem 0;
}

.intro-header {
  text-align: center;
}

.intro h1 {
  padding: 0.5rem;
  margin: 0.5rem;
}

.intro h3 {
  /* margin: 2rem 0; */
  padding: 1rem;
}


/* image carousel */

.imagecarousel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#slider {
  position: relative;
  width: 50%;
  height: 30vw;
  margin: 80px auto;
  margin-top: 30px;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slider label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

/* @media (max-width: 500px) {
    #slider {
      width: 65%;
      height: 40vw;
    }
  } */

@media screen and (max-width: 600px) {
  #slider {
    perspective: 800px;
    width: 80%;
    height: 60vw;
  }

  input[type="radio"] {
    width: 10px;
    height: 10px;
    margin: 0 15px 0 0;
    transform: translateX(-67px);
  }
}
/* image carousel ends */


/* This is the wave code */
.custom-shape-divider-bottom-1641509526 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641509526 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1641509526 .shape-fill {
  fill: #ffffff;
}


/* event schedule */

.eventschedule {
  /* width: 90%; */
  margin: 10px auto;
}

.eventschedule>.text{
  padding-top: 20px;
}

.eventschedule .eventcard {
  /* width:100%; */
  margin: 20px 10%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(233, 232, 253);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.eventimage {
  width: 250px;
  height: 150px;
  /* height: 100%; */
  margin-right: 10px;
}

.eventimage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.eventcontent {
  width: 50%;
  margin-right: 2.5%;
}

.eventcontent .name {
  font-size: 25px;
  font-weight: 500;
}

.eventcontent .designation {
  font-size: 20px;
  font-style: italic;
}

.eventcontent .speakerdescription {
  font-size: 22px;
}

.eventregister button {
  width: 100%;
  margin-bottom: 10px;
}

.eventregister .datetime {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .eventcard {
    flex-direction: column;
  }

  .eventimage {
    width: 90%;
    height: 30%;
  }

  .eventcontent {
    width: auto;
    text-align: center;
    margin-top: 10px;
    flex-direction: row;
  }
}

@media (min-width: 769px){

  .eventcard{
    position: relative;
  }
  .eventimage img{
    margin-left: 20px;
  }
  

  span.datetime{
    position: absolute;
    top: 40%; 
    left: 0;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    margin: 20px;
  }
}


/* This is for cards  */
h3#speakers {
  margin-bottom: -30px;
  padding-top: 20px;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}

.card {
  width: 15rem;
  height: 25rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 15px;
  margin: 30px;
  margin-bottom: 30px;
}

.info {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  /* top: 50%; */
  top: 150%;
  left: 50%;
  width: 100%;
  opacity: 1;
  display: block;
  transform: translateX(-50%) translateY(-50%);
  background-position: center center;
  background-size: cover;
  transition: all 0.2s linear;
  z-index: 0;
  background-color: rgba(70, 66, 66, 0.8);
  padding-bottom: 85px;
}



.info .content {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
  padding: 24px;
  position: relative;
  /* top: 50px; */
  /* visibility: hidden; */
}

/* .info.active .content {
	visibility: visible;
	animation-name: entrance-first;
	animation-duration: 0.4s;
} */



h2,
h3,
h5 {
  text-align: center;
}


/* footer */
.footer {
  background-color: rgb(30, 40, 45);
  color: #fff;
  padding: 20px;
  padding-bottom: 0px;
}

.footer > .text {
  text-align: center;
  display: block;
}

.links {
  font-size: 40px;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: #fff;
}
